<style>
table { font-size: 12px; font-family: Monospace; }
input {  font-size: 12px; font-family: Monospace;  }
.textcolor {
 background-image:linear-gradient(90deg,blue,yellow,red,purple);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 border-radius: 42px;
}

.gradient2 {
 background-image:linear-gradient(#eee, #333);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 border-radius: 42px;
}

table , input {
    background: -webkit-linear-gradient(#333, #000);
    #-webkit-background-clip: text;
    #-webkit-text-fill-color: transparent;
    color: white;
    border-collapse:separate;
    border:solid grey 1px;
    border-radius:6px;
    -moz-border-radius:6px;
}

td, th {
    border-left:solid grey 1px;
    border-top:solid grey 1px;
}

th {
    background-color: blue;
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

</style>
<script language="javascript" type="text/javascript">
  function strRepeat(str, qty) {
  if (qty < 1) return '';
  var result = '';
  while (qty > 0) {
    if (qty & 1) result += str;
    qty >>= 1, str += str;
  }
  return result;
}
/* insprired by http://www.yaldex.com/FSDateAndTime/BarClock.htm source  */

var barsize=13
var statbar=strRepeat('|',barsize)
<!-- Begin
function clock() {
var t = new Date();
var h = t.getHours();
var m = t.getMinutes();
var s = t.getSeconds();
var ms = t.getMilliseconds();

//var units = new String("||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||");
var hours = t.getHours();
var min = t.getMinutes();
var sec = t.getSeconds();
//document.clock.hours.value = units.substring(0, hours);
//document.clock.minutes.value = units.substring(0, min);
document.clock.hours.value=strRepeat('|',hours)
document.clock.minutes.value=strRepeat('|',min)

var msx=ms/16.666666667
document.clock.seconds.value = strRepeat(' ',s).concat(statbar);
///Array( sec > 12 ? sec-13+1 : 0).join(' ').concat(units.substring(sec > 12 ? sec-13 : 0, sec));
document.clock.milliseconds.value = strRepeat(' ',msx).concat(statbar);
var status = "AM local TZ";
if (hours > 11)
status = "PM local TZ";
//if (hours < 11)
//hours -= 12;
if (min < 10)
min = "0" + min;
if (sec < 10)
sec = "0" + sec;
document.clock.h.value = hours;
document.clock.m.value = min;
document.clock.s.value = sec;
document.clock.ms.value = ms;
document.clock.time.value = hours + ":" + min + ":" + sec + "." + String(ms).padStart(4, '0') + " " + status;
window.setTimeout("clock()", 99);
}
window.onload=clock;
//  End -->
</script>
<center>
<form name="clock">
<table>
<tr>
<td><input type="text" name="h" size="2" style="border: 0;margin: 0px; width: 2em;"> :H:</td><td > <input  class="textcolor" type=text name="hours"  style="width: 24ch;color: navy"> Time:  <input type=text name="time" size="10" style="width: 30ch;border: 0">
</td>
</tr><tr>
<td colspan=1><input type="text" name="m" size="2" style="border: 0;margin: 0px;width: 2em;"> :M: </td><td> <input  class="gradient2" type=text name="minutes" style="width: 60ch;"   ></td>

</tr>
<td colspan=1><input type="text" name="s" size="2" style="border: 0;margin: 0px;width: 2em;" > :S: </td><td><input  class="textcolor" type=text name="seconds" style="width: 60ch;" maxlength="60" ></td>
</tr>

<td colspan=1><input type="text" name="ms" size="2" style="border: 0;margin: 0px;width: 2em;" > :ms </td><td><input  class="gradient2" type=text name="milliseconds" style="width: 60ch;" ></td>
</tr>


</table>
</form>
</center>
